@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">PoC StructureMap - @ViewBag.Mensagem</p>
    <p><a href="~/" class="btn btn-primary btn-lg">Home</a></p>
</div>